body {
  position: relative;
  font-family: 'Cantata One', serif;
  margin:0 auto;
  background-color: #9AF1FA;!important
}

#section1 {
  padding: 130px 0px;
  color: #242424;
  background-color: #C3E3FA;
  margin:0 auto;
}

#section2 {
  padding-top: 50px;
  color: #242424;
  background-color: #9AF1FA;
}

#section41 {
  padding-top: 50px;
  color: #242424;
  background-color: #51C0FA;
}

#section42 {
  padding-top: 50px;
  color: #242424;
  background-color: #1FB3FA;
}

#section41 {
  display: block;
}

body > nav > div > div.navbar-header > a > img {
  padding-bottom: 0px;
}

#myNavbar {
  background-color: Grey;
}

#myNavbar a {
  text-transform: uppercase;
  font-size: 20px;
}
.navbar-inverse {
    background-color: grey;
    border-color: #080808;
}

#myNavbar a:hover {
  color: #BDBDBD;
  font-size: 20px;
  text-shadow: 0.5px 2px 0.5px  #D3D4B0;
}

#section1 > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) > p:nth-child(1) {
  width: 200px;
  height: auto;
  border: 2px solid grey;
}

a[href^="http"] {
  text-decoration: none;
  !important;
	  color: black;
}

.navbar-brand {
  padding: 0px 15px;
  !important;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #242424;
}

.blockquote-reverse, blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-top: 5px groove #BDBDBD;
  border-right: 5px groove #BDBDBD;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 0px;
  !important;
}
 
 .
 
#para {
  background-image:
    radial-gradient{
      white,
     #9AF1FA
    };
}
a{
cursor: pointer;}
/*=========================
Korisni Älanci
=========================*/
#section1{
	max-width:1400px;
	display:block;
}
.inline{
	width:32%;
	display:inline;
	
}
.margin{
	margin-top:30px;
}
.row1:nth-child(3n+2){
	margin-left:1,4%;
	margin-right:1,5%;
	
}
/*=========================
Read more >>> stil
=========================*/
#section1 > div > section:nth-child(1) > p > a	        {
	color:pink;
	background-color:black;
	box-shadow: 10px 5px 5px #888888;
	border:2px groove grey;
	cursor:alias;
}
#section1 > div > section:nth-child(1) > p 
{
	margin-top:10%;
}
#section1 > div > section:nth-child(2) > p > a      {
	color:pink;
	background-color:black;
	box-shadow: 10px 5px 5px #888888;
	border:2px groove grey;
}
/*=========================
Read more >>> margina
=========================*/
h3~p{
	margin-top:10%;
}
#section1 > div > section:nth-child(3) > p > a{
	color:pink;
	background-color:black;
	box-shadow: 10px 5px 5px #888888;
	border:2px groove grey;
}
h3~p{
	margin-top:10%;
}