body {
  position: relative;
  font-family: 'Cantata One', serif;
}

#section1 {
  padding-top: 50px;
  height: 500px;
  color: #242424;
  background-color: #C3E3FA;
}

#section2 {
  padding-top: 50px;
  height: 500px;
  color: #242424;
  background-color: #9AF1FA;
}

#section41 {
  padding-top: 50px;
  height: 500px;
  color: #242424;
  background-color: #51C0FA;
}

#section42 {
  padding-top: 50px;
  color: #242424;
  background-color: #1FB3FA;
}

#section41 {
  display: block;
}

body > nav > div > div.navbar-header > a > img {
  padding-bottom: 0px;
}

#myNavbar {
  background-color: Grey;
}

#myNavbar a {
  text-transform: uppercase;
  font-size: 20px;
}

#myNavbar a:hover {
  color: #BDBDBD;
  font-size: 20px;
  text-shadow: 0.5px 2px 0.5px  #D3D4B0;
}

#section1 > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) > p:nth-child(1) {
  width: 200px;
  height: auto;
  border: 2px solid grey;
}

a[href^="http"] {
  text-decoration: none;
  !important;
	  color: black;
}

.navbar-brand {
  padding: 0px 15px;
  !important;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #242424;
}

.blockquote-reverse, blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-top: 5px groove #BDBDBD;
  border-right: 5px groove #BDBDBD;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 0px;
  !important;
}

#para {
  background: #fff;
 /* For browsers that do not support gradients */
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(178,178,178,1));
 /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(178,178,178,1));
 /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(178,178,178,1));
 /*Standard*/;
}
 
